@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Geist", "sans-serif";
  --default-font-family: "Geist", system-ui, sans-serif;
  --color-primary-100: #e6fffa;
  --color-primary-200: #b2f5ea;
  --color-primary-300: #81e6d9;
  --color-primary-400: #4fd1c5;
  --color-primary-500: #38b2ac;
  --color-primary-600: #319795;
  --color-primary-700: #2c7a7b;
  --color-primary-800: #285e61;
  --color-primary-900: #234e52;

  --color-secondary-100: #fffaf0;
  --color-secondary-200: #feebc8;
  --color-secondary-300: #fbd38d;
  --color-secondary-400: #f6ad55;
  --color-secondary-500: #ed8936;
  --color-secondary-600: #dd6b20;
  --color-secondary-700: #c05621;
  --color-secondary-800: #9c4221;
  --color-secondary-900: #7b341e;
}

body {
  font-family: "Geist", system-ui, sans-serif;
}

.markdown-content {
  /* Base prose styles */
  @apply prose md:prose-lg mx-0 w-full max-w-screen font-light;
}

/* Image styles */
.markdown-content img {
  @apply mx-auto rounded-lg;
}

/* Video styles */
.markdown-content video {
  @apply mx-auto my-6 w-full rounded-lg;
}

/* Table styles */
.markdown-content table {
  @apply border-collapse;
}

.markdown-content td {
  @apply border border-gray-600;
}

.markdown-content th {
  @apply border border-gray-600 bg-gray-800;
}

/* Code block styles */
.markdown-content pre {
  @apply rounded-lg border border-gray-700;
}

.markdown-content code {
  @apply dark:text-amber-400 text-amber-600;
}

/* Blockquote styles */
.markdown-content blockquote {
  @apply w-full md:w-fit border-l-4 border-primary-500 bg-gray-100 dark:bg-gray-800 px-4 py-2 text-gray-400 my-2;
  p {
    @apply my-2;
  }
}

/* Link styles */
.markdown-content a {
  @apply text-primary-600;
}

/* Heading styles */
.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  @apply text-gray-100;
}

.markdown-content h2 {
  @apply text-4xl text-primary-600 dark:text-primary-500 tracking-tight font-medium;
}

.markdown-content h2 strong {
  @apply text-4xl text-primary-600 dark:text-primary-500 font-medium;
}

.markdown-content h3 {
  @apply text-2xl text-secondary-500 dark:text-secondary-400;
}

/* Text styles */
.markdown-content p {
  @apply text-zinc-500 dark:text-gray-300 my-3;
}

.markdown-content strong {
  @apply text-zinc-500 dark:text-gray-100 font-medium;
}

.markdown-content ol {
  @apply text-zinc-500 dark:text-gray-300;
}

.markdown-content ul {
  @apply text-zinc-500 dark:text-gray-300 my-3;
}

.markdown-content li {
  @apply my-0;
}
